.column1 {
    width: 50%;
    padding: 16px
}
.column2 {
   padding: 16px;
     width: 40%;
}

.time__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.time__box {
    background-color: #D3D3D3;
    height: 70px;
    width: 70px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
}