.main__card__container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 2px 1px #00000012;
    opacity: 1;
}

.divider {
border-left: 1px solid #E8EAEE;
  height: 20px;
  padding: 0;
}

.card__item__container {
    padding-top: 10px;
   
}