.container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 64px);
  margin-right: 20px;
  padding: 0;
  background-color:#F3F5F7;
  justify-content: space-evenly;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: flex;
    margin-right: 20px;
    padding: 0;
    background-color: #F3F5F7;
    justify-content: space-evenly;
   
  }
}
