.container{
    width: 100vw;
    height: 100vh;
    display: flex;
  
    align-items: center;
    flex-direction: column;
}
.business__title{
    padding: 40px;
}
.business__list{
    height: 40vh;
    width: 60vw;
    overflow: hidden;
}