.order__complete__card__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}