.detail__container {
  padding: 10px;
}
.detail__content {
  background-color: #ffffff;
  height: calc(100vh - 150px);
  border-radius: 12px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.detail__info__container {
  height: calc(100vh - 150px);
  border-radius: 12px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.detail__content::-webkit-scrollbar {
  display: none;
}
.detail__card {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  align-items: center;
}
.detail__title {
  width: 90%;
}
.detail__item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.payment_container {
  padding: 10px;
  border-radius: 12px;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.payment_content {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.detail__info {
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
}
.detail__info__bar {
  display: flex;
  padding: 10px;
  padding-top: 15px;
}
.detail__icon__container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  border: solid 1px #00000012;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail__time__section {
  background-color: white;
  width: 100%;
  height: 60%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail__time__info {
  padding: 15px;
}
.time__btn {
  width: 100%;
  height: 100%;
  box-shadow: none;
}
@media only screen and (min-width: 768px) and (max-width: 1184px) {
  .detail__content::-webkit-scrollbar {
    display: none;
  }
}
