.box{
  background-color: #909090;
  width: 48%;
  height: 100%;
 
  border-radius: 10px;
}

.wrapper {
  margin-top: 20px;
  margin-left: 20px;
}
.title__container  {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 10px;
}

.main__content {
  flex: 1;
  background-color: black;
}