@font-face {
    font-family: 'DM-Sans-Medium';
    src: url('./assets//font//dm-sans//DMSans-Medium.ttf') format('ttf');
}

body {
    margin: 0;
    font-family: 'DM-Sans-Medium';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


